{% extends 'layouts/app.html.twig' %}
{% block title %}quizer{% endblock %}
{% block content %}

    {% include 'layouts/topnav.html.twig' %}
    <section class="content">
    {% include 'layouts/carousel.html.twig' %}


    <div class="container" style="margin-top:10px;">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="post quiztitlediv" style="border-bottom: 3px solid #1abc9c;">
                    <span>{{ QuizesDB.title }}</span>
                </div>
                <div class="post quizmaindiv">
                    <div class="rightdivDSB">
                          <img class="img16/9" {% if QuizesDB.image != '' %} src="{{asset(QuizesDB.authorname ~'/' ~ QuizesDB.image)}}" {% endif %}>
                            <div style="clear:both"></div>
                      </div>
                    <div class="textinquiz">{{ QuizesDB.description }}</div>
                    <div style="clear:both;"></div>
                </div>
                <a href="/quizplay/{{ QuizesDB.id }}">
                    <div class="post startquizdiv" style="background-color: #438bc5;">
                        <span>Start quiz!</span>
                    </div>
                </a>
            </div>
           {% include 'layouts/sidebar.html.twig' %}


        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xs-12">
                    <div class="pull-left"><a href="#" class="prevnext"><i class="fa fa-angle-left"></i></a></div>
                    <div class="pull-left">
                        <ul class="paginationforum">
                            <li class="hidden-xs"><a href="#">1</a></li>
                            <li class="hidden-xs"><a href="#">2</a></li>
                            <li class="hidden-xs"><a href="#">3</a></li>
                            <li class="hidden-xs"><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#" class="active">7</a></li>
                            <li><a href="#">8</a></li>
                            <li class="hidden-xs"><a href="#">9</a></li>
                            <li class="hidden-xs"><a href="#">10</a></li>
                            <li class="hidden-xs hidden-md"><a href="#">11</a></li>
                            <li class="hidden-xs hidden-md"><a href="#">12</a></li>
                            <li class="hidden-xs hidden-sm hidden-md"><a href="#">13</a></li>
                            <li><a href="#">1586</a></li>
                        </ul>
                    </div>
                    <div class="pull-left"><a href="#" class="prevnext last"><i class="fa fa-angle-right"></i></a></div>
                    <div class="clearfix"></div>
                </div>
             </div>
          </div>
       </div>
    </div>


    </section>
    {% include 'layouts/footer.html.twig' %}
{% endblock %}