{% extends 'layouts/app.html.twig' %}
{% block title %}Quizert - {{ QuizesDB.title }}{% endblock %}
{% block content %}

    {% include 'layouts/topnav.html.twig' %}
    <section class="content">
    {% include 'layouts/carousel.html.twig' %}

    <div class="container" style="margin-top:20px;">
        <div class="row">
            {% if QuizesDB.typeid == 1 %} {% include 'layouts/components/knowledgetest.html.twig' %} {% endif %}
            {% if QuizesDB.typeid == 2 %} {% include 'layouts/components/psychotest.html.twig' %} {% endif %}
           {% include 'layouts/sidebar.html.twig' %}
       </div>
    </div>


    </section>
    {% include 'layouts/footer.html.twig' %}
{% endblock %}