{% block carousel %}
<div class="carousel_maindiv clearfix" v-cloak>
    <div id="owl-demo" class="owl-carousel">
      {% for quiz in carousel_quizesDB %}
      <a href="{{ path('quiz', {'id' : quiz.id}) }}"><div class="item itemcarousel rightdimension99width">
        <div class="hoverovercarousel">
            <p><h4>{{ quiz.title }}</h4></p>
            <p>{{ quiz.solutions }} solutions</p>
        </div><img class="lazyOwl img16/9" {% if quiz.image != '' %} data-src="{{ asset(quiz.authorname ~ '/' ~  quiz.image) }}" {% endif %}>
      </div></a>
      {% endfor %}
    </div>
</div>
{% endblock %}