<footer >
    <div class="upperfooter">
        <a href="https://www.facebook.com/profile.php?id=100007072909482"><i class="fa fa-facebook-square socials"></i></a>
        <a href="https://github.com/PiotrZdziarski"><i class="fa fa-github socials"></i></a>
        <a href="https://plus.google.com/u/1/114869168099549108892"><i class="fa fa-google-plus socials"></i></a>
    </div>
    <div class="bottomfooter">
         Piotr Zdziarski &copy 2018, Quizer.com
    </div>
</footer>